img.displayed{
  margin-left: 520px;
}



h4{
  font-size: 17px;
  color: ;
}
h2{
  color: black;
}
h1{
  font-size: 20px;
  color: black);
}
p{
  font-family: 'italic' , 'perpetua', arial, helvetica;
}

p.centro{
  text-align: center;
}